body,html{height:100%;padding:0px;margin:0px;}
.a{background-image:url("../img/sky.png");width:100%;height:90px;overflow:hidden;position:fixed;top:0px}
.b{background-image:url("../img/sky.png");width:100%;height:100%;overflow:hidden;}
.c{background-image:url("../img/sky.png");position:fixed;top:0px;bottom:0px;left:0px;right:0px;display:none;z-index:1}
.d{position:fixed;bottom:0px;height:10%;width:100%;}
#nave{text-align:center;position:fixed;top:10%;width:100%;height:20%}
#nave img{height:100%;}
#luna{text-align:bottom;position:fixed;bottom:0%}
#luna img{width:100%}
#cpanel{}
#hidem,#showm{float:right}
#menu{background-color:lightblue }
#parrafo{font-family: arial;font-size: 12px;}